<a href="https://colab.research.google.com/github/Angelaaa-hub/Introduction-to-python/blob/main/Mini_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Create a list of your 8 foods and store it in a variable called foods.
# pizza cake banana kales pizza chicken beef

In [ ]:
foods = ["pizza", "cake", "banana", "kales", "pizza", "chicken", "beef"]
print(foods)

['pizza', 'cake', 'banana', 'kales', 'pizza', 'chicken', 'beef']

In [ ]:
# 1.1. Print the first and last item in the foods list.

In [ ]:
print(foods[0])
print(foods[6])

pizza
beef

In [ ]:
# 1.2. Replace the third item in the list with another food.

In [ ]:
foods[2] = "burger"
print(foods)

['pizza', 'cake', 'burger', 'burger', 'pizza', 'chicken', 'beef']

In [ ]:
# 1.3. Add a new food to the end of the list using .append().

In [ ]:
append = foods.append("apple")
print(foods)

['pizza', 'cake', 'burger', 'burger', 'pizza', 'chicken', 'beef', 'apple']

In [ ]:
# 1.4. Remove one food from the list using .remove().

In [ ]:
remove = foods.remove("burger")
print(foods)

['pizza', 'cake', 'burger', 'pizza', 'chicken', 'beef', 'apple']

In [ ]:
# 1.5. Use a for loop to print each item in the list on a new line.

In [ ]:
# 1.5. Use a for loop to print each item in the list on a new line.
foods = ["pizza", "cake", "burger", "pizza", "chicken", "beef", "apple"]
for food in foods:
    print(food)

pizza
cake
burger
pizza
chicken
beef
apple

In [ ]:
# 1.6. Use a loop to print only the foods that start with the letter "a".

In [ ]:
for food in foods:
    if food.startswith("a"):
        print(food)

apple

In [ ]:
# 1.7. Count how many times "pizza" appears in the list.

In [ ]:
count = foods.count("pizza")
print(count)

2

In [ ]:
# 1.8. Print the second to fourth items using slicing.
# Remember that slicing is getting a range of values using the square brackets and index

In [ ]:
print(foods[1:4])

['cake', 'burger', 'pizza']

In [ ]:
# 1.9. Print the list in reverse using slicing.

In [ ]:
print(foods[::-1])

['apple', 'beef', 'chicken', 'pizza', 'burger', 'cake', 'pizza']

In [ ]:
# 2. Create a list of numbers: 5 2 9 1 7

In [ ]:
list = [5, 2, 9, 1, 7]
print(list)

[5, 2, 9, 1, 7]

In [ ]:
# 2.1 Use the following functions:
# sum() to calculate total
# max() to find the highest
# min() to find the smallest

In [ ]:
sum(list)

24

In [ ]:
max(list)

9

In [ ]:
min(list)

1

In [ ]:
# 2.2. Sort the list in ascending and descending order using .sort() and .reverse().

In [ ]:
list.sort()
print("Ascending:",list)

Ascending: [1, 2, 5, 7, 9]

In [ ]:
list.sort(reverse=True)
print("Descending:",list)

Descending: [9, 7, 5, 2, 1]

In [ ]:
# 2.3. Use .insert() to add the number 10 at index 2.

In [ ]:
list.insert(2, 10)
print(list)

[9, 7, 10, 5, 2, 1]

In [ ]:
# 3. Create the nested list of students below and their scores:
# then print each student's name and score using a loop.
students = [["Alice", 85], ["Bob", 78], ["Charlie", 92]]

In [ ]:
students = [["Alice", 85], ["Bob", 78], ["Charlie", 92]]

for student in students:
    name = student[0]
    score = student[1]
    print(f"{name}: {score}")

Alice: 85
Bob: 78
Charlie: 92

In [ ]:
# 3.1. Find the student with the highest score.

In [ ]:
students = [["Alice", 85], ["Bob", 78], ["Charlie", 92]]

highest_score = -1
highest_student = None

for student in students:
    if student[1] > highest_score:
        highest_score = student[1]
        highest_student = student

print(f"The student with the highest score is {highest_student[0]} with a score of {highest_student[1]}.")

The student with the highest score is Charlie with a score of 92.

In [ ]:
# 4. Write a function that asks the user to enter 5 numbers and stores them in a list.

In [ ]:
def get_numbers():
    numbers = []
    for i in range(5):
        number = int(input(f"Enter number {i+1}: "))
        numbers.append(number)
    return numbers

numbers = get_numbers()

Enter number 1: 4
Enter number 2: 7
Enter number 3: 1
Enter number 4: 0
Enter number 5: 8

In [ ]:
# 4.1. Write a function that removes all even numbers from the list provided by the user.

In [ ]:
def remove_even_numbers(numbers):
    numbers = []

    for i in range(5):
        number = int(input(f"Enter number {i+1}: "))
        numbers.append(number)

    odd_numbers = [num for num in numbers if num % 2 != 0]
    return odd_numbers

    result = remove_even_numbers()
    print("List with even numbers removed:", numbers)

In [ ]:
# 5. Merge two lists:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]



merged_list = list1 + list2
print(merged_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
# 6. Ask the user to input student names until they type "stop". Store all names in a list and print it at the end.

In [1]:
student_names = []
while True:
    name = input("Enter a student name (type 'stop' to finish): ")
    if name == "stop":
        break
    student_names.append(name)

print("List of student names:")
print(student_names)

Enter a student name (type 'stop' to finish): Angela
Enter a student name (type 'stop' to finish): Lisa
Enter a student name (type 'stop' to finish): Ashley
Enter a student name (type 'stop' to finish): Sierra
Enter a student name (type 'stop' to finish): Serah
Enter a student name (type 'stop' to finish): stop
List of student names:
['Angela', 'Lisa', 'Ashley', 'Sierra', 'Serah']

In [ ]:
# 6.1. From the list of names, print only those that are longer than 5 characters.

In [2]:
student_name = ['Angela', 'Lisa', 'Ashley', 'Sierra', 'Serah']
for name in student_name:
    if len(name) > 5:
        print(name)

Angela
Ashley
Sierra