<a href="https://colab.research.google.com/github/Angelaaa-hub/Introduction-to-python/blob/main/Mini_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Print numbers from 1 to 10
# Output:
# 1
# 2
# ...
# 10

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 2. Print even numbers between 1 and 20
# Output:
# 2, 4, 6, ..., 20
# 3. Print the square of numbers from 1 to 5
# Output:
# 1 4 9 16 25

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for number in numbers:
    if number % 2 == 0:
        print(number)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(1, 6):
    print(i**2)

1
4
9
16
25

In [ ]:
# 4. Print each character in the word "Python"
# Output:
# P
# y
# t
# h
# o
# n

In [ ]:
word = "Python"
for letter in word:
    print(letter)

P
y
t
h
o
n

In [ ]:
# 5. Loop through this list and print names:
names = ["Alice", "Bob", "Charlie"]

In [ ]:
names = ["Alice", "Bob", "Charlie"]
for name in names:
    print(name)

Alice
Bob
Charlie

In [ ]:
# 6. Print numbers from 5 to 1
# Output:
# 5
# 4
# 3
# 2
# 1

In [ ]:
numbers = [5,4,3,2,1]
for number in numbers:
    print(number)

5
4
3
2
1

In [ ]:
# 7. Keep asking the user to enter a password until they type "secret"
# Output:
# Try again... until correct

In [ ]:
password = input("Enter a password: ")
while password != "secret":
    print("Try again...")
    password = input("Enter a password: ")

Enter a password: Angela
Try again...
Enter a password: Chris
Try again...
Enter a password: Secret
Try again...
Enter a password: secret

In [ ]:
# 8. Ask the user to enter numbers until they enter 0. Then print the sum.
# Input:
# 5
# 3
# 0
# Output:
# Total: 8

In [ ]:
numbers = []
while True:
    number = int(input("Enter a number: "))
    if number == 0:
        break
    numbers.append(number)
total = sum(numbers)
print("Total:", total)

Enter a number: 5
Enter a number: 7
Enter a number: 6
Enter a number: 0
Total: 18

In [ ]:
# 9. Print all numbers from 1 to 20 that are divisible by 3
# Output:
# 3 6 9 12 15 18

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for number in numbers:
    if number % 3 == 0:
        print(number)

3
6
9
12
15
18

In [ ]:
# 10. From this list, print only the odd numbers:
numbers = [4, 7, 10, 13, 16, 19]

In [ ]:
numbers = [4, 7, 10, 13, 16, 19]

if number % 2 != 0:
    print(number)

In [ ]:
# 11. Count how many times "apple" appears in the list:
fruits = ["apple", "banana", "apple", "cherry", "apple"]

In [ ]:
fruits = ["apple", "banana", "apple", "cherry", "apple"]
count = 0
for fruit in fruits:
    if fruit == "apple":
        count += 1
print("apple appears", count, "times")

apple appears 3 times

In [ ]:
# 12. Use a loop to reverse a string:
# Input:
# "hello"
# Output:
# "olleh"

In [ ]:
word = "hello"
reversed_word = ""
for i in range(len(word) - 1, -1, -1):
    reversed_word += word[i]
print(reversed_word)

olleh

In [ ]:
# 13. Print a simple triangle of stars:
# Output:
# *
# **
# ***
# ****
# *****

In [21]:
for i in range (1,10):
    print ('*'* i)

*
**
***
****
*****
******
*******
********
*********

In [ ]:
# 14. Use a loop to calculate the factorial of a number:
# Input:
# 5
# Output:
# 120

In [24]:
num = 5
factorial = 1

for i in range(1, num + 1):
    factorial *= i

print(f"Factorial of {num} is {factorial}")

Factorial of 5 is 120

In [ ]:

# 15. Loop from 1 to 100 and:
# Print "Hit" if divisible by 3
# Print "Miss" if divisible by 5
# Print "Jackpot" if divisible by both

In [32]:
num = input("Enter a number: ")
while num in range(1, 101):
    if num % 3 == 0 and num % 5 == 0:
        print("Jackpot")
    elif num % 3 == 0:
        print("Hit")
    elif num % 5 == 0:
        print("Miss")
    else:
        print("Try again")

Enter a number: 5

In [ ]:
# 16. Ask the user how many students are in a class. Then loop to enter each student’s name and save them to a list. Finally, print the list of students.

In [33]:

num_students = int(input("How many students are in the class? "))

students = []

for i in range(num_students):
    name = input(f"Enter the name of student #{i + 1}: ")
    students.append(name)

print("\nList of students:")
for student in students:
    print(student)

How many students are in the class? 5
Enter the name of student #1: Caleb
Enter the name of student #2: Ann
Enter the name of student #3: Stacy
Enter the name of student #4: Becky
Enter the name of student #5: Keysha

List of students:
Caleb
Ann
Stacy
Becky
Keysha